<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.1.13">
  <scope>GLOBAL</scope>
  <id>git_token</id>
  <description></description>
  <username>4d8cbd3e8ec70330c310edb86b6b174ae22ec8d2</username>
  <password>
    <secret-redacted/>
  </password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>

